polkit.addRule(function(action, subject) {
    var allowed = [
        "org.freedesktop.login1.suspend-then-hibernate",
        "org.freedesktop.login1.suspend-then-hibernate-multiple-sessions",
        "org.freedesktop.login1.suspend-then-hibernate-ignore-inhibit"
    ];

    if (allowed.indexOf(action.id) >= 0 && (subject.user == "root" || subject.isInGroup("wheel"))) {
        return polkit.Result.YES;
    }
});
